.form-grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: 16px;

	@include mediaUp(md) {
		gap: 2rem;
	}

	@include mediaUp(lg) {
		gap: 2.75rem 2rem;
	}
}

.form-field {
	position: relative;
}

.form-field,
.form-result,
.form-action {
	grid-column: span 12;
}

.form-result {
	@include mediaUp(md) {
		grid-column: span 6;
	}
}

.form-field,
.form-result,
.form-action {
	@include mediaUp(lg) {
		grid-column: span 4;
	}
}

.form-input {
	width: 100%;
	height: auto;
	padding: 8px 10px;
	border: 1px solid var(--border);
	border-radius: 4px;
	display: block;
	background-color: var(--lightest);
	background-repeat: no-repeat;
	box-shadow: none;
	transition:
		background-color var(--duration-md) linear,
		border-color var(--duration-md) linear,
		color var(--duration-md) linear;
	resize: none;
	color: var(--intense);
	font-size: 14px;
	line-height: 1.2;
	font-family: inherit;
	font-weight: 400;

	@include placeholder() {
		color: var(--minor);
	}

	@include mediaUp(md) {
		padding: 8px 10px;
		font-size: 15px;
		line-height: 1.25;
	}
}

.form-input:focus-within {
	background-color: var(--bg);
	color: var(--intense);
	outline: none;
}

.form-label {
	transition:
		color var(--duration-sm) linear,
		transform var(--duration-sm) linear;
}
