body {
	background-color: var(--bg);
}

.wrap {
	min-height: 100vh;
	padding-top: 2rem;
	padding-bottom: 2rem;
	position: relative;
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: 1fr;

	@include mediaUp(md) {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
}

.container {
	@include container;
}
