body {
	background-color: var(--bg);
}

.wrap {
	min-height: 100vh;
	padding-top: 2.75rem;
	padding-bottom: 2.75rem;
	position: relative;
	display: grid;
	justify-content: center;
	grid-template-columns: 1fr;

	@include mediaUp(md) {
		padding-top: 3.5rem;
		padding-bottom: 3.5rem;
	}

	@include mediaUp(lg) {
		align-items: center;
	}
}

.container {
	@include container;
}
