extends base/layout.pug

block variables
	- var currentUrl = '/'

block main

	<div class="container">

		<h1>Рассчитайте стоимость автомобиля в&nbsp;лизинг</h1>

		<div class="form-grid">

			<div class="form-field">
				<label for="price" class="form-label">Стоимость автомобиля</label>
				<div class="input-numeric">
					<input type="text" class="input-numeric__input" id="price" value="3 300 000">
					<div class="input-numeric__units">₽</div>
					<div class="toddler input-numeric__toddler" data-min="1500000" data-max="10000000" data-step="100000" style="--value: 50%">
						<div class="toddler__handle" tabindex="0"></div>
					</div>
				</div>
			</div>

			<div class="form-field">
				<label for="firstPayment" class="form-label">Первоначальный взнос</label>
				<div class="input-numeric">
					<input type="text" class="input-numeric__input" id="firstPayment" value="420 000 ₽">
					<div class="input-numeric__subinfo">13%</div>
					<div class="toddler input-numeric__toddler" data-min="1500000" data-max="10000000" data-step="100000" style="--value: 13%">
						<div class="toddler__handle" tabindex="0"></div>
					</div>
				</div>
			</div>

			<div class="form-field">
				<label for="leasingTerm" class="form-label">Срок лизинга</label>
				<div class="input-numeric">
					<input type="text" class="input-numeric__input" id="leasingTerm" value="60">
					<div class="input-numeric__units">мес.</div>
					<div class="toddler input-numeric__toddler" data-min="1500000" data-max="10000000" data-step="100000" style="--value: 50%">
						<div class="toddler__handle" tabindex="0"></div>
					</div>
				</div>
			</div>

			<div class="form-result">
				<div class="form-label form-label--alter">Сумма договора лизинга</div>
				<div class="form-value"><span class="">4 467 313</span> ₽</div>
			</div>

			<div class="form-result">
				<div class="form-label form-label--alter">Ежемесячный платеж от</div>
				<div class="form-value"><span class="">114 455</span> ₽</div>
			</div>

			<div class="form-action">
				<button class="button">Оставить заявку</button>
			</div>

		</div>

	</div>
