// Custom properties
// ---------------------
:root {
	// Text
	--fontMain:             #{$fontMain};
	--fontExtra:            #{$fontExtra};
	--fontSize:             1rem;
	--lineHeight:           1.57;

	// Color
	--primary:              #{$orange};
	--intense:              #{$black};
	--major:                #{$gray-700};
	--minor:                #{$gray-600};
	--light:                #{$gray-250};
	--lighter:              #{$gray-200};
	--lightest:             #{$gray-100};
	--inverse:              #{$white};
	--bg:                   #{$white};

	// Dimensions
	--containerMax:         #{$containerMax};
	--sidePadding:          1.25rem;

	// Shape
	--radius-xs:            4px;
	--radius-md:            16px;

	// Animation
	--duration-sm:          .12s;

	@include mediaUp(md) {
		--sidePadding:          2.25rem;
	}

	@include mediaUp(lg) {
		--sidePadding:          3rem;
	}
}
