// Custom properties
// ---------------------
:root {
	// Text
	--fontMain:             #{$fontMain};
	--fontExtra:            #{$fontExtra};
	--fontSize:             1rem;
	--lineHeight:           1.57;

	// Color
	--primary:              #{$orange};
	--intense:              #{$black};
	--major:                #{$gray-700};
	--minor:                #{$gray-600};
	--light:                #{$gray-250};
	--lighter:              #{$gray-200};
	--lightest:             #{$gray-100};
	--bg:                   #{$white};

	// Dimensions
	--containerMax:         #{$containerMax};
	--sidePadding:          clamp(1.25rem, 4vw, 4rem);

	// Shape
		--radius-xs:            2px;
		--radius-sm:            4px;
		--radius-md:            6px;

	// Animation
		--duration-sm:          .12s;
		--duration-md:          .2s;
		--duration-lg:          .3s;
		--duration-xl:          .6s;
		--duration-xxl:         1s;
}
