// Text
// ---------------------
$fontSans:                  'Gilroy', sans-serif;
$fontExtra:                 'Nekst', sans-serif;
$fontMain:                  $fontSans;
$rem:                       100%;


// Colors
// ---------------------
// absolute colors
$black:                     #111111;
$gray-700:                  #333333;
$gray-600:                  #575757;
$gray-250:                  #e1e1e1;
$gray-200:                  #EBEBEC;
$gray-100:                  #F3F3F4;
$white:                     #ffffff;
$orange:                    #FF9514;


// Breakpoints
// ---------------------
	$sm:    0px;
	$md:    768px;
	$lg:    1120px;
	$xl:    1440px;

	$breakpoints: (
		sm: $sm,
		md: $md,
		lg: $lg,
		xl: $xl,
	);


// Container
// ---------------------
$containerMax:              1440px;


// Grid
// ---------------------
	$gridColumns:               24;
	$gap:                       30px;
	$gap-xxs:                   8px;
	$gap-xs:                    12px;
	$gap-sm:                    20px;
	$gap-md:                    $gap;
	$gap-lg:                    48px;
	$gap-xl:                    60px;


// Layers
// ---------------------
	$z-content: 50;
	$z-header: 100;
	$z-popup: 500;
	$z-notification: 1000;
